{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-bad-channels/out_dir_bad_channels/meg.fif",
    "calibration": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/sss_cal.dat",
    "crosstalk": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/ct_sparse.fif",
    "destination": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/mean_tm-raw.fif",
	"events": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-create-events/out_dir_create_events/events.tsv",
    "headshape": "",
    "param_freqs_specific_or_start": 50,
	"param_freqs_end": 251,
	"param_freqs_step": 50,
	"param_picks_by_channel_types_or_names": "eeg",
	"param_picks_by_channel_indices": null, 
	"param_filter_length": "auto",
	"param_notch_widths": null,
	"param_trans_bandwidth": 1.0,
	"param_n_jobs": 1,
	"param_method": "fir",
	"param_iir_parameters": null,
	"param_mt_bandwidth": null,
	"param_p_value": 0.05,
	"param_phase": "zero",
	"param_fir_window": "hamming",
	"param_fir_design": "firwin",
	"param_pad": "reflect_limited"
}
